.sideItem{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 15px 0 15px 0;
    position: relative;
    font-size: 12px;
}

.sideItem:hover{
    background-color: #F4F4F4;
    cursor: pointer;
}
.icon{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clicked{
    width: 3px;
    height: 100%;
    background-color: #0078D4;
    position: absolute;
}